<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="https://cdn.icon-icons.com/icons2/510/PNG/512/navicon-round_icon-icons.com_50087.png" alt="menu" width="20">
    </button>
    <a href="">
      <img src="https://www.shutterstock.com/image-vector/electronic-logo-260nw-737605000.jpg" alt="logo" width="80">
    </a>
    <a href="">
      <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="logo" width="30">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img src="https://www.shutterstock.com/image-vector/electronic-logo-260nw-737605000.jpg" alt="logo" width="150">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">miguel@gmail.com</div>
      <div>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="logo" width="50">
        </a>
      </div>
    </div>
  </div>
</div>
